/* Header Section */
.dashboard-header {
    background: linear-gradient(135deg, #6a28ee, #0586f8);
    color: white;
    border-radius: 0 0 30px 30px;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Card Styling */
  .dashboard-card {
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.1);
    background: linear-gradient(135deg,#6a2ff4, #1a70fb);;
  }
  
  .dashboard-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  }
  
  /* Icon Styling */
  .dashboard-icon {
    font-size: 2.8rem;
    margin-bottom: 10px;
    transition: transform 0.3s;
    color: #c8d2e3;
  }
  
  .dashboard-card:hover .dashboard-icon {
    transform: scale(1.1);
  }
  .navbar{
    background: linear-gradient(135deg,#6a2ff4, #1a70fb);
  }
  /* Navbar */
  .navbar-brand {
    font-size: 2rem;
    letter-spacing: 1px;
    color: aliceblue;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.2s ease;
   color: rgb(243, 231, 231);
  }
  
  .navbar-nav .nav-link:hover {
    color: #d7f226;
  }
  
  /* Footer */
  footer {
    background: linear-gradient(135deg, #6a28ee, #0586f8);
    font-size: 0.9rem;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .dashboard-icon {
      font-size: 2.2rem;
    }
  
    .dashboard-card {
      margin-bottom: 20px;
    }
  }
  