body{
  background: #ca8888;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    background: linear-gradient(135deg, #6a28ee, #0586f8);
  }
  
  p-card {
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.887);
    background: linear-gradient(135deg, #7330f8, #103bfb);
    font-weight: 900;
    
  }
  
  label {
    font-weight: 700;
    margin-bottom: 6px;
    display: block;
    color: #000000;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #969494;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #1942f9;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #7330f8, #103bfb,#6a28ee);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  .mt-5 {
    margin-top: 3rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  