:host ::ng-deep .p-card {
  background: linear-gradient(135deg, #6a28ee, #0586f8);
    border-radius: 16px;
    box-shadow: 0 8px 25px rgb(0, 0, 0);
    padding: 30px;
    transition: box-shadow 0.3s ease;
  }
  
  :host ::ng-deep .p-card:hover {
    box-shadow: 0 12px 30px rgb(0, 0, 0);
  }
  
  :host ::ng-deep .p-fluid .field {
    margin-bottom: 1.5rem;
  }
  
  :host ::ng-deep label {
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    color: #000000;
  }
  
  :host ::ng-deep input[pInputText], 
  :host ::ng-deep input[type="email"], 
  :host ::ng-deep input[type="phonenumber"],
  :host ::ng-deep input[pPassword] {
    width: 50%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
  }
  
  :host ::ng-deep input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);
  }
  
  :host ::ng-deep button[pButton] {
    width: 50%;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #14ff4f;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  :host ::ng-deep button[pButton]:hover {
    background-color: #056c16;
  }
  
  .text-center {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    :host ::ng-deep .p-card {
      width: 90% !important;
      margin: 20px auto;
    }
  }
  